 <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>
<nav>
    <% if user_signed_in? %>
        <%= link_to image_tag("/assets/CCA", class:"nav__logo"), user_root_path %>
        <h3>Logged in as <%= current_user.email %></h3>
        <ul class="nav__ul--container">
            <li> <%= link_to 'Edit profile', edit_user_registration_path, class: "nav__link" %> | </li>
            <li>  <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "nav__link" %></li>
        </ul>
    <% else %>
        <%= link_to image_tag("/assets/CCA", class:"nav__logo"), root_path %>
        <ul>
            <li>   <%= link_to "Sign up", new_user_registration_path, class: "nav__link"%> </li>
            <li>   <%= link_to "Login", new_user_session_path, class: "nav__link"%></li>
        </ul>
    <% end %> 
</nav>